<% if (locals.user != undefined) { %>
	<%- include('./partials/headerLogueado') %>
<% } else { %>
	<%- include('./partials/header')  %>
<% } %>
	<body>
		<div class="container products-wrapper">
			<div class="row">
				<!-- Formulario para editar productos -->
					<h2>
						<div id="contenedor" style="width: 950px;">
							<div id="central">
								<div id="login" style="padding: 30px 45px;">
									<div class="titulo">
										Editar producto
									</div><br>
									<% if (locals.errors) { %>
										<% errors.forEach(error => { %>
										 <p class="errores"><%= error.msg %></p>
									 <% })
									 }%>
									<form method="post" action="/product/edit/<%= data.id %>" id="loginform" class="profile-form">
										<input  type="text" name="nombre" value="<%= data.nombre %>" class="profile-form-input">	
										
										<input type="text" name="descripcion" value="<%= data.descripcion %>" class="profile-form-input">

										<input type="text" name="imagen_de_perfil" placeholder="Imagen de perfil (URL)" class="profile-form-input" value=" <%= data.imagen %>">
	
										<button type="submit" title="Ingresar" name="Ingresar" class="btn"> Actualizar producto</button>
									</form>
								</div>
								<div class="inferior">
									<a href="/">Volver</a>
								</div>
							</div>
						</div>
					</h2>
			</div>
		</div>	
	<!-- footer -->
	<%- include('./partials/footer.ejs') %> 
	<!-- /footer -->
	</body>
</html>