<% if (locals.user != undefined) { %>
	<%- include('./partials/headerLogueado') %>
<% } else { %>
	<%- include('./partials/header')  %>
<% } %>
<div class="container products-wrapper">
    <div class="d-flex align-items-center">
        <h2 class="products-title"><%= lista.nombre %> : <a href="/users/id/<%= lista.id_usuario %>"><%= lista.usuario.usuario %></a></h2> 
        <p class="product-detail-description">
            <% if(locals.user != undefined && locals.user.id == lista.id_usuario){ %>
                <a id="editar" href="/product/productedit">Editar</a>
            <% } %>
        </p>
    </div>
    <div class="product-detail">
        <div class="row">
            <article class="col-12 col-lg-8 product-detail-info">
                <img src="<%= lista.imagen %>" alt="" class="product-detail-img">
                <p class="product-detail-description">
                <%= lista.descripcion %></p>
            </article>

            <div class="col-12 col-lg-4">
                <% for (let i = 0; i < lista.comentarios.length; i++) { %>    
                <section class="comments">
                    <article>
                        <img src="<%= lista.comentarios[i].usuario.imagen_de_perfil %>" alt="">
                        <div class="data">
                            <p class="user">
                            <strong><a href="/users/id/<%= lista.comentarios[i].usuario.id %>"><%= lista.comentarios[i].usuario.usuario%>: </a></strong>
                             <%= lista.comentarios[i].comentario %></p>
                        </div>
                    </article>
                </section>
                <% } %>
                <hr>
                <% if(locals.user != undefined){ %>
                    <form class="form" action="#" method="post">
                        <input class="form-input" type="text" value="" placeholder="Agregar comentario" name="comentario">
                        <button type="submit" class="btn">AGREGAR COMENTARIO</button>
                    </form>
                    <hr>
                <% } else{ %>
                    <p id="editar">Debes estar logueado para comentar</p>
                <% } %>

                
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer') %>
