<% if (locals.user != undefined) { %>
	<%- include('./partials/headerLogueado') %>
<% } else { %>
	<%- include('./partials/header')  %>
<% } %>
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Editar mi perfil</h2>
        </div>
        <!-- Show the "ultimos" products -->
        <h2> 
            <div id="contenedor" style="width: 950px;">
                <div id="central">
                    <div id="login" style="padding: 30px 45px; margin-top: 0%;">
                        <div class="titulo">
                            Editar mi perfil
                        </div>
                        <% if (locals.errors) {
							errors.forEach(error => { %>
							<p><%= error.msg %></p>
						<% })
						}
						%>
                        <br>

                        <form action="/users/profileedit" method="post" id="loginform" class="profile-form">

                            <input type="text" name="email" placeholder="Email" class="profile-form-input"
                            value="<%= (locals.old && locals.old.email != undefined) ? locals.old.email : (user && user.email) %>">

                            <input type="text" name="usuario" placeholder="Nombre de usuario" class="profile-form-input"
                            value="<%= (locals.old && locals.old.usuario != undefined) ? locals.old.usuario : (user && user.usuario) %>"> 

                            <input type="password" name="contrasenia" placeholder="Contraseña" class="profile-form-input"
                            value="">

                            <input type="date" name="fecha_nacimiento" placeholder="Fecha de nacimiento" class="profile-form-input"
                            value="<%= (locals.old && locals.old.fecha_nacimiento != undefined) ? locals.old.fecha_nacimiento: (user && user.fecha_nacimiento) %>">

                            <input type="number" name="dni" placeholder="Numero de documento" class="profile-form-input"
                            value="<%= (locals.old && locals.old.dni != undefined) ? locals.old.dni : (user && user.dni) %>">

                            <input type="text" name="imagen_de_perfil" placeholder="Imagen de perfil (URL)" class="profile-form-input"
                            value="<%= (locals.old && locals.old.imagen_de_perfil != undefined) ? locals.old.imagen_de_perfil: (user && user.imagen_de_perfil) %>">

                            <button type="submit" title="Ingresar" class="btn">Actualizar datos</button>

                        </form>
                    </div>
                    <div class="inferior">
                        <a style="width: 25%;" href="/"> Volver al inicio</a>
                    </div>
                </div>
            </div>
        </h2>
    </div>
</div>

<%- include('./partials/footer') %>
