<%- include('./partials/headerLogueado')%>

<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Editar mi perfil</h2>
        </div>
        <!-- Show the "ultimos" products -->
        <h2> 
            <div id="contenedor" style="width: 950px;">
                <div id="central">
                    <div id="login" style="padding: 30px 45px; margin-top: 0%;">
                        <div class="titulo">
                            Editar mi perfil
                        </div>
                        <form method="post" action="#" id="loginform" enctype="multipart/form-data" class="profile-form">
                            <input  type="email" name="email" placeholder="Email" value="<%= usuario.email %>" class="profile-form-input">

                            <input type="text" name="nombre" placeholder="Nombre" value="<%= usuario.nombre %>" class="profile-form-input">
                            
                            <input type="password"  name="contraseña" placeholder="Nueva contraseña" class="profile-form-input">

                            <input type="date" name="nacimiento" value="<%= usuario.fecha_nacimiento %>" class="profile-form-input">
                            
                            <input type="number" name="documento" placeholder="DNI" value="<%= usuario.dni %>" class="profile-form-input">
                            
                            <a>Foto de perfil</a>
                            <input type="file" name="fotoDePerfi" style="background-color: rgb(205 205 205);
                            padding: 7.2px;" class="foto-perfil-input">

                            <button type="submit" title="GuardarCambios" name="GuardarCambios" class="btn">Guardar cambios</button>

                        </form>
                    </div>
                    <div class="inferior">
                        <a style="width: 25%;" href="/"> Volver al inicio</a>
                    </div>
                </div>
            </div>
        </h2>
    </div>
</div>

<%- include('./partials/footer') %>
